/* Estilos para el pie de página */
footer {
    background-color: #333; 
    color: #fff; 
    padding: 20px;
    text-align: center;
    margin-top: 30px;
}


.contacto {
    margin-bottom: 20px; 
}

.contacto p {
    margin: 5px 0; 
}


.redes-sociales a {
    color: #fff; 
    margin: 0 10px; 
    text-decoration: none; 
}

.redes-sociales a:hover {
    text-decoration: underline; 
}


.whatsapp-pie a {
    color: #25d366; 
    text-decoration: none; 
}

.whatsapp-pie a:hover {
    text-decoration: underline; 
}


.whatsapp-icon-pie {
    display: inline-block;
    background-color: #fff; 
    color: #25d366; 
    padding: 10px; 
    border-radius: 50%; 
    margin-right: 5px; 
}